<a href="https://colab.research.google.com/github/abhishurajbhandari/ML-Projects/blob/main/ML-Projects%20/Health%20Insurance%20Prediction/Health_Insurance_Prediction_(Linear_Regression).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import os

from google.colab import drive
from pathlib import Path
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Studies/Self_Study/Youtube/ML_Siddhardhan/1.Medical_Insurance_Cost_Prediction/insurance.csv')

In [ ]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [ ]:
df.region.unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [ ]:
# Encoading categorical variables using Replace
df.replace({'sex':{'female':1,'male':0}}, inplace = True)
df.replace({'smoker':{'yes':0, 'no':1}},inplace = True)
df.replace({'region':{'southeast':0,'southwest':1,'northeast':2,'northwest':3}},inplace = True)

In [ ]:
df

      age  sex     bmi  children  smoker  region      charges
0      19    1  27.900         0       0       1  16884.92400
1      18    0  33.770         1       1       0   1725.55230
2      28    0  33.000         3       1       0   4449.46200
3      33    0  22.705         0       1       3  21984.47061
4      32    0  28.880         0       1       3   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    0  30.970         3       1       3  10600.54830
1334   18    1  31.920         0       1       2   2205.98080
1335   18    1  36.850         0       1       0   1629.83350
1336   21    1  25.800         0       1       1   2007.94500
1337   61    1  29.070         0       0       3  29141.36030

[1338 rows x 7 columns]

In [ ]:
#Splitting the features and targets
X = df.drop('charges', axis = 1) #axis number 0 = rows and 1 = columns
print(X)

      age  sex     bmi  children  smoker  region
0      19    1  27.900         0       0       1
1      18    0  33.770         1       1       0
2      28    0  33.000         3       1       0
3      33    0  22.705         0       1       3
4      32    0  28.880         0       1       3
...   ...  ...     ...       ...     ...     ...
1333   50    0  30.970         3       1       3
1334   18    1  31.920         0       1       2
1335   18    1  36.850         0       1       0
1336   21    1  25.800         0       1       1
1337   61    1  29.070         0       0       3

[1338 rows x 6 columns]

In [ ]:
y = df[['charges']]
print(y)

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]


Splitting the data into training and testing data

In [ ]:
X_train = X.sample(frac=0.8, random_state=1)
X_train

      age  sex     bmi  children  smoker  region
559    19    0  35.530         0       1       3
1087   57    0  31.540         0       1       3
1020   51    0  37.000         0       1       1
460    49    1  36.630         3       1       0
802    21    0  22.300         1       1       1
...   ...  ...     ...       ...     ...     ...
1334   18    1  31.920         0       1       2
565    19    1  30.495         0       1       3
249    29    0  28.975         1       1       2
476    24    0  28.500         0       0       2
781    18    0  41.140         0       1       0

[1070 rows x 6 columns]

In [ ]:
# Dropping X_train from X. X_test will have the remaining
X_test = X.drop(X_train.index)
X_test

      age  sex     bmi  children  smoker  region
15     19    0  24.600         1       1       1
20     60    1  36.005         0       1       2
21     30    1  32.400         1       1       1
24     37    0  28.025         2       1       3
25     59    1  27.720         3       1       0
...   ...  ...     ...       ...     ...     ...
1315   18    0  28.310         1       1       2
1317   18    0  53.130         0       1       0
1333   50    0  30.970         3       1       3
1336   21    1  25.800         0       1       1
1337   61    1  29.070         0       0       3

[268 rows x 6 columns]

In [ ]:
y_train = y.sample(frac= 0.8, random_state=1)
y_train

          charges
559    1646.42970
1087  11353.22760
1020   8798.59300
460   10381.47870
802    2103.08000
...           ...
1334   2205.98080
565    2128.43105
249    4040.55825
476   35147.52848
781    1146.79660

[1070 rows x 1 columns]

In [ ]:
y_test = y.drop(y_train.index)
y_test

          charges
15     1837.23700
20    13228.84695
21     4149.73600
24     6203.90175
25    14001.13380
...           ...
1315  11272.33139
1317   1163.46270
1333  10600.54830
1336   2007.94500
1337  29141.36030

[268 rows x 1 columns]

In [ ]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(1070, 6) (268, 6) (1070, 1) (268, 1)

Linear Regression

In [ ]:
# Loading the linear Regression Model
regressor = LinearRegression()

In [ ]:
regressor.fit(X_train, y_train)

LinearRegression()

Model Evaluation

In [ ]:
# Prediction on training data
X_train_pred = regressor.predict(X_train)
print(X_train_pred)
X_train_pred.shape

[[ 4953.06867679]
 [13372.3548652 ]
 [13128.20230213]
 ...
 [ 5294.85473671]
 [27066.075167  ]
 [ 5747.57002207]]

(1070, 1)

In [ ]:
#Comparing the original y_train and the newly predicted x_train
r2_train = metrics.r2_score(y_train, X_train_pred)
print('R squared value:', r2_train)

R squared value: 0.746092694895188

In [ ]:
# Prediction on test data
X_test_pred = regressor.predict(X_test)
X_test_pred.shape

(268, 1)

In [ ]:
r2_test = metrics.r2_score(y_test, X_test_pred)
print('R squared value:', r2_test)

R squared value: 0.764292789348391

Building a predictive sysytem

In [ ]:
#Given the input values below, it should predict the insurance cost
input_data = (31, 1, 25.74, 0, 1, 0)

#Changing into a numpy array
input_data_numpy = np.asarray(input_data)

# Reshaping the numpy array. We are dping this because the model expects us to input 1070 values. But we have to tell that we are only expecting it for 1 row

input_data_reshape = input_data_numpy.reshape(1, -1)

prediction = regressor.predict(input_data_reshape)
print(prediction)

[[3767.55405792]]

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [ ]:
#Given the input values below, it should predict the insurance cost
input_data = (27, 0, 42.13, 0, 0, 0)

#Changing into a numpy array
input_data_numpy = np.asarray(input_data)

# Reshaping the numpy array. We are dping this because the model expects us to input 1070 values. But we have to tell that we are only expecting it for 1 row

input_data_reshape = input_data_numpy.reshape(1, -1)

prediction = regressor.predict(input_data_reshape)
print('predicted charges:', prediction)

print('actual charges:', 39611.7577)

predicted charges: [[32020.62579052]]
actual charges: 39611.7577

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [ ]:
# df.replace({'sex':{'female':1,'male':0}}, inplace = True)
# df.replace({'smoker':{'yes':0, 'no':1}},inplace = True)
# df.replace({'region':{'southeast':0,'southwest':1,'northeast':2,'northwest':3}}

#Given the input values below, it should predict the insurance cost
input_data = (34, 1, 31.92, 1, 0, 2)

#Changing into a numpy array
input_data_numpy = np.asarray(input_data)

# Reshaping the numpy array. We are dping this because the model expects us to input 1070 values. But we have to tell that we are only expecting it for 1 row

input_data_reshape = input_data_numpy.reshape(1, -1)

prediction = regressor.predict(input_data_reshape)
print('predicted charges:', prediction)

print('actual charges:', 37701.8768)

predicted charges: [[31295.48948998]]
actual charges: 37701.8768

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(